
.splash-container {
    background-image: url(https://i.imgur.com/qbOgTye.jpg);
    background-size: cover;
    background-position: center;
    display: flex;

}

.welcome-text {
    background-color: rgba(200, 200, 200, 0.5);
    text-align: center;
    width: 700px;
    margin: auto;

    border-radius: 4px;
    font-size: larger;
    color: white;

}


.welcome-text h1 {
    font-weight: 600;
    font-size: 80px;
}

.welcome-text button {
    border: 1px solid black;
    margin: 15px;
    padding: 3px 5px;
    border-radius: 4px;
    background-color: slategray;
}

.welcome-text button:hover {
    background-color: black;
    color: slategray;
}
